<body>
    <mat-toolbar class="toolbar">
        <span class="toolbar-icons" routerLink="/">SDA Studio</span>
        <button mat-flat-button color="basic" routerLink="/extension">Extend SDA</button>
        <button mat-flat-button color="basic" routerLink="/custom">Custom SDA</button>
        <button mat-flat-button color="basic" routerLink="/customproperty">Custom SDA Property</button>
        <button mat-flat-button color="basic" routerLink="/dashboard">Dashboard</button>
        <span class="spacer"></span>
        <button mat-flat-button (click)="resetSDA()">Reset SDA & Patients</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</body>
